{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}
Customer Registration Form
{% endblock %}

{% block content %}
   <div class="container">
    <div class="form-login mb-5" style="width: 50%; margin-left: 250px">
        <h3>Customer Registration:</h3>
       <form action="" method="post">
           {% csrf_token %}
           {{ form|crispy }}
           <input type="submit" value="Customer Registration" class="btn btn-warning">
       </form>
    </div>
   </div>
{% endblock %}